@import url('../../static/lightTheme.css');
@import url('../../static/darkTheme.css');

:global(h1) {
    font-size: 2rem;
}

:global(h2) {
    font-size: 1.5rem;
}

:global(h3) {
    font-size: 1.17rem;
}

:global(h4) {
    font-size: 1rem;
}

:global(h5) {
    font-size: 0.83rem;
}

:global(h6) {
    font-size: 0.67rem;
}

:global(*) {
    /*transition-property: background-color, color, border-color, box-shadow, fill, stroke, opacity;*/
    transition-duration: 10s;
}