body {
  background-color: #1c1c1c;
  color: #f5f5f5;
}

.nav-pills .nav-link.active, 
.nav-pills .nav-link:hover {
  background-color: #212529;
}

.form-control {
  background-color: #2d2d2d;
  color: #f5f5f5;
  border-color: #444;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

footer {
  background-color: #343a40;
  color: #f5f5f5;
}
